/* src/components/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #34495e; /* Tomato color */
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #f0e68c; /* Light yellow on hover */
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  